
.text-Success {
    color: silver;
 }
.text-unSuccess{
    color:#034c65;
}
.cardBorder{
    border-radius: 10px;
}
.clearTitle{
    background-color: slateblue;
}
.icon{
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}